#base_pic {
  display: none;
}

#enter-btn {
  align-content: center;
}

#submit-btn {
  position: relative;
  bottom: -24px;
  z-index: 0;
}
#user-input-field {
  z-index: 1;
}

#canvas-container {
  max-width: 512px;
  max-height: auto;
}

#image-gallery {
  text-align: center;
  width: 512px;
}

/* .user-name {
  float: inherit;
} */


img {
  max-width: 512px;
  max-height: auto;
  vertical-align: middle;
  padding-top: 4px;
  padding-bottom: 4px;
  /* padding-right: 4px;
  padding-left: 4px; */

}
